<h2 class="welcome">All Hikes on <%=@mountain.name%> (<%=@mountain.elevation%>)</h2>
<a href="/logout" class="logout">Log Out</a>

<%@mountain.hikes.each do |hike|%>
<h3><a href="/users/<%=hike.user_id%>"><%=hike.user.username%></a></h3>
<p class="description"><%=hike.description%></p>
<%end%>
