<p class="flash"><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %></p>

<h1 class="welcome">Welcome to <%=@user.username%>'s Hike Tracker!</h1>

<a href="/logout" class="logout">Log Out</a>

<%@user.hikes.each do |hike| %>
<h4><%hike.mountains.each do |mountain|%></h4>
<h4><a href="/hikes/<%=hike.id%>"><%=mountain.name%></a> (<%=mountain.elevation%>)</h4>
<%end%>
<p class="description" id="user_description"><%=hike.description%></p>
<%end%>
