<p class="flash"><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %></p>

<h2 class="welcome">All Hikes</h2>

<a href="/logout" class="logout">Log Out</a>

<%@hikes.each do |hike|%>
<h3><%=hike.user.username%></h3>
<h4 class="description"><a href="/hikes/<%=hike.id%>"><%=hike.mountains.first.name%></a>        (<%=hike.mountains.first.elevation%> ft)</h4>
<p class="description_index"><%=hike.description%></p>
<%end%>
